.homeCls{
    position: absolute;
    width: 100%;
    height: 90%;
}
/* 
.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
} */

.sideNavCls{
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
}

.col-md-3{
    padding-right: 0px;
}

.feedCls{
    height: 100%;
    overflow: auto;
}