<div class="homeCls">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Welcome Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" #home (click)="loadView($event)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" #profile (click)="loadView($event)">Profile</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" #market name="market" (click)="loadView($event, market)">Market</a>
        </li>
      </ul>
      <span>
        <input type="text" placeholder="search" #searchText (keyup)="throttling($event,searchText)">
      </span>
    </div>
  </nav>
  <div class="row h-100">
    <div class="d-none d-lg-block col-md-3 sideNavCls">
      <app-sidenav></app-sidenav>
    </div>
    <div class="d-block col-md-6 col-sm-12 feedCls">
      <app-feed *ngIf="state===''"></app-feed>
      <app-market *ngIf="state==='market'"></app-market>
    </div>
    <div class="d-none d-lg-block col-md-3">
      Messenger
    </div>
  </div>
</div>
