.center{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.signUp{
    
    background-color: azure;
    width: 50%;
    height: 500px;
    text-align: center;
}

.circle{
    position: relative;
    width:  50%;
    height: 50%;
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}